@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "tailwindcss-background-patterns";


@variant dark (&:is(.dark *));
.theme-violet {
  --color-brand: var(--color-violet-600);
  --color-brand-lighter: var(--color-violet-500);
  --color-primary: var(--color-violet-700);
  --color-primary-lighter: var(--color-violet-600);
  --color-primary-foreground: var(--color-white);
}

.dark .theme-violet {
  --color-brand: var(--color-violet-500);
  --color-brand-lighter: var(--color-violet-400);
  --color-primary: var(--color-violet-700);
  --color-primary-lighter: var(--color-violet-600);
  --color-primary-foreground: var(--color-white);
}

.theme-sky {
  --color-brand: var(--color-sky-600);
  --color-brand-lighter: var(--color-sky-500);
  --color-primary: var(--color-sky-700);
  --color-primary-lighter: var(--color-sky-600);
  --color-primary-foreground: var(--color-white);
}

.dark .theme-sky {
  --color-brand: var(--color-sky-500);
  --color-brand-lighter: var(--color-sky-400);
  --color-primary: var(--color-sky-700);
  --color-primary-lighter: var(--color-sky-600);
  --color-primary-foreground: var(--color-white);
}

.theme-emerald {
  --color-brand: var(--color-emerald-600);
  --color-brand-lighter: var(--color-emerald-500);
  --color-primary: var(--color-emerald-700);
  --color-primary-lighter: var(--color-emerald-600);
  --color-primary-foreground: var(--color-white);
}

.dark .theme-emerald {
  --color-brand: var(--color-emerald-500);
  --color-brand-lighter: var(--color-emerald-400);
  --color-primary: var(--color-emerald-700);
  --color-primary-lighter: var(--color-emerald-600);
  --color-primary-foreground: var(--color-white);
}

.theme-orange {
  --color-brand: var(--color-orange-600);
  --color-brand-lighter: var(--color-orange-500);
  --color-primary: var(--color-orange-700);
  --color-primary-lighter: var(--color-orange-600);
  --color-primary-foreground: var(--color-white);
}

.dark .theme-orange {
  --color-brand: var(--color-orange-500);
  --color-brand-lighter: var(--color-orange-400);
  --color-primary: var(--color-orange-700);
  --color-primary-lighter: var(--color-orange-600);
  --color-primary-foreground: var(--color-white);
}

.theme-red {
  --color-brand: var(--color-red-600);
  --color-brand-lighter: var(--color-red-500);
  --color-primary: var(--color-red-700);
  --color-primary-lighter: var(--color-red-600);
  --color-primary-foreground: var(--color-white);
}

.dark .theme-red {
  --color-brand: var(--color-red-500);
  --color-brand-lighter: var(--color-red-400);
  --color-primary: var(--color-red-700);
  --color-primary-lighter: var(--color-red-600);
  --color-primary-foreground: var(--color-white);
}

.theme-yellow {
  --color-brand: var(--color-yellow-600);
  --color-brand-lighter: var(--color-yellow-500);
  --color-primary: var(--color-yellow-700);
  --color-primary-lighter: var(--color-yellow-600);
  --color-primary-foreground: var(--color-white);
}

.dark .theme-yellow {
  --color-brand: var(--color-yellow-500);
  --color-brand-lighter: var(--color-yellow-400);
  --color-primary: var(--color-yellow-700);
  --color-primary-lighter: var(--color-yellow-600);
  --color-primary-foreground: var(--color-white);
}

.theme-fuchsia {
  --color-brand: var(--color-fuchsia-600);
  --color-brand-lighter: var(--color-fuchsia-500);
  --color-primary: var(--color-fuchsia-700);
  --color-primary-lighter: var(--color-fuchsia-600);
  --color-primary-foreground: var(--color-white);
}

.dark .theme-fuchsia {
  --color-brand: var(--color-fuchsia-500);
  --color-brand-lighter: var(--color-fuchsia-400);
  --color-primary: var(--color-fuchsia-700);
  --color-primary-lighter: var(--color-fuchsia-600);
  --color-primary-foreground: var(--color-white);
}

.theme-pink {
  --color-brand: var(--color-pink-600);
  --color-brand-lighter: var(--color-pink-500);
  --color-primary: var(--color-pink-700);
  --color-primary-lighter: var(--color-pink-600);
  --color-primary-foreground: var(--color-white);
}

.dark .theme-pink {
  --color-brand: var(--color-pink-500);
  --color-brand-lighter: var(--color-pink-400);
  --color-primary: var(--color-pink-700);
  --color-primary-lighter: var(--color-pink-600);
  --color-primary-foreground: var(--color-white);
}

.theme-cyan {
  --color-brand: var(--color-cyan-600);
  --color-brand-lighter: var(--color-cyan-500);
  --color-primary: var(--color-cyan-700);
  --color-primary-lighter: var(--color-cyan-600);
  --color-primary-foreground: var(--color-white);
}

.dark .theme-cyan {
  --color-brand: var(--color-cyan-500);
  --color-brand-lighter: var(--color-cyan-400);
  --color-primary: var(--color-cyan-700);
  --color-primary-lighter: var(--color-cyan-600);
  --color-primary-foreground: var(--color-white);
}

.theme-indigo {
  --color-brand: var(--color-indigo-600);
  --color-brand-lighter: var(--color-indigo-500);
  --color-primary: var(--color-indigo-700);
  --color-primary-lighter: var(--color-indigo-600);
  --color-primary-foreground: var(--color-white);
}

.dark .theme-indigo {
  --color-brand: var(--color-indigo-500);
  --color-brand-lighter: var(--color-indigo-400);
  --color-primary: var(--color-indigo-700);
  --color-primary-lighter: var(--color-indigo-600);
  --color-primary-foreground: var(--color-white);
}

.theme-lime {
  --color-brand: var(--color-lime-600);
  --color-brand-lighter: var(--color-lime-500);
  --color-primary: var(--color-lime-700);
  --color-primary-lighter: var(--color-lime-600);
  --color-primary-foreground: var(--color-white);
}

.dark .theme-lime {
  --color-brand: var(--color-lime-500);
  --color-brand-lighter: var(--color-lime-400);
  --color-primary: var(--color-lime-700);
  --color-primary-lighter: var(--color-lime-600);
  --color-primary-foreground: var(--color-white);
}

.theme-amber {
  --color-brand: var(--color-amber-600);
  --color-brand-lighter: var(--color-amber-500);
  --color-primary: var(--color-amber-700);
  --color-primary-lighter: var(--color-amber-600);
  --color-primary-foreground: var(--color-white);
}

.dark .theme-amber {
  --color-brand: var(--color-amber-500);
  --color-brand-lighter: var(--color-amber-400);
  --color-primary: var(--color-amber-700);
  --color-primary-lighter: var(--color-amber-600);
  --color-primary-foreground: var(--color-white);
}

:root {
  --brand: var(--color-brand);
  --brand-lighter: var(--color-brand-lighter);

  --alert: var(--color-yellow-700);
  --alert-lighter: var(--color-yellow-600);

  --info: var(--color-blue-600);
  --info-lighter: var(--color-blue-500);

  --warning: var(--color-red-600);
  --warning-lighter: var(--color-red-500);

  --success: var(--color-emerald-600);
  --success-lighter: var(--color-emerald-500);

  --background: var(--color-white);
  --foreground: var(--color-neutral-900);
  --foreground-muted: var(--color-neutral-500);

  --sc-background: var(--color-white);
  --sc-foreground: var(--color-neutral-900);
  --sc-muted: var(--color-neutral-600);

  --card: var(--color-white);
  --card-foreground: var(--color-neutral-900);
  --card-muted: var(--color-neutral-600);

  --secondary: var(--color-neutral-100);
  --secondary-lighter: var(--color-neutral-800);
  --secondary-foreground: var(--color-neutral-800);

  --destructive: var(--color-red-900);
  --destructive-lighter: var(--color-red-800);
  --destructive-foreground: var(--color-white);

  --popover: var(--card);
  --popover-foreground: var(--color-neutral-700);
  --popover-muted: var(--color-neutral-500);

  --muted: var(--color-neutral-500);
  --muted-foreground: var(--color-neutral-950) --accent: var(--color-white);
  --accent-foreground: var(--color-neutral-700);

  --border: color-mix(in oklab, var(--color-black) 15%, transparent);
  --border-lighter: color-mix(in oklab, var(--color-black) 20%, transparent);
  --ring: color-mix(in oklab, var(--color-black) 15%, transparent);
}

.dark {
  --brand: var(--color-brand);
  --brand-lighter: var(--color-brand-lighter);


  --alert: var(--color-yellow-500);
  --alert-lighter: var(--color-yellow-400);

  --info: var(--color-blue-500);
  --info-lighter: var(--color-blue-400);

  --warning: var(--color-red-500);
  --warning-lighter: var(--color-red-400);

  --success: var(--color-emerald-500);
  --success-lighter: var(--color-emerald-400);

  /* --background: oklch(18.22% 0 0); */
  --background: oklch(16.5% 0.0017 17.33);
  --foreground: var(--color-neutral-100);
  --foreground-muted: var(--color-neutral-400);

  --sc-background: oklch(18.22% 0 0);
  --sc-foreground: var(--color-neutral-100);
  --sc-muted: var(--color-neutral-500);

  --card: oklch(18.22% 0 0);
  --card-foreground: var(--color-neutral-100);
  --card-muted: var(--color-neutral-400);

  --secondary: oklch(21.2% 0.0025 145.48);
  --secondary-lighter: var(--color-neutral-800);
  --secondary-foreground: var(--color-neutral-300);

  --destructive: var(--color-red-900);
  --destructive-lighter: var(--color-red-800);
  --destructive-foreground: var(--color-white);

  --popover: var(--card);
  --popover-foreground: var(--color-neutral-100);
  --popover-muted: var(--color-neutral-300);

  --muted: var(--color-neutral-800);
  --muted-foreground: 240 3.8% 46.1%;

  --accent: oklch(16.84% 0 0);
  --accent-foreground: var(--color-neutral-100);

  --border: color-mix(in oklab, var(--color-white) 5%, transparent);
  --border-lighter: color-mix(in oklab, var(--color-white) 10%, transparent);
  --ring: color-mix(in oklab, var(--color-white) 15%, transparent);
}

@theme {
  --font-iranyekan: IRANYekan;

  --font-sans: "Inter";
  --font-mono: "DM Mono";
  --font-condesed: "Roboto Condensed";

  --breakpoint-*: initial;
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1380px;

  --color-alert: var(--alert);
  --color-alert-lighter: var(--alert-lighter);

  --color-brand: var(--brand);
  --color-brand-lighter: var(--brand-lighter);

  --color-info: var(--info);
  --color-info-lighter: var(--info-lighter);

  --color-warning: var(--warning);
  --color-warning-lighter: var(--warning-lighter);

  --color-success: var(--success);
  --color-success-lighter: var(--success-lighter);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-muted: var(--foreground-muted);

  --color-sc-background: var(--sc-background);
  --color-sc-foreground: var(--sc-foreground);
  --color-sc-muted: var(--sc-muted);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-card-muted: var(--card-muted);

  --color-primary: var(--primary);
  --color-primary-lighter: var(--primary-lighter);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-lighter: var(--secondary-lighter);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-lighter: var(--destructive-lighter);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover-muted: var(--popover-muted);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-border: var(--border);
  --color-border-lighter: var(--border-lighter);
  --color-ring: var(--ring);

  --text-clamp: clamp(0.7rem, 3vw, 0.8rem);
  --text-clamp-lg: clamp(0.8rem, 4vw, 1rem);
  --text-clamp-xl: clamp(1.25rem, 5vw, 3rem);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-collapsible-down: collapsible-down 0.2s ease-in-out;
  --animate-collapsible-up: collapsible-up 0.2s ease-in-out;
  --animate-caret-blink: caret-blink 1.25s ease-out infinite;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes collapsible-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-collapsible-content-height);
    }
  }
  @keyframes collapsible-up {
    from {
      height: var(--radix-collapsible-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes caret-blink {
    0%,
    70%,
    100% {
      opacity: 1;
    }
    20%,
    50% {
      opacity: 0;
    }
  }
}

@utility container {
  padding-inline: 0.85rem;
  margin-inline: auto;
}
@layer base {
  :root {
    --desktop-header-top-height: 64px;
    --mobile-header-bottom-height: 58px;
  }
}

@layer base {
  @font-face {
    font-family: "IRANYekan";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/iranyekan/IRANYekanXFaNum-Light.woff2") format("woff2");
  }

  @font-face {
    font-family: "IRANYekan";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/iranyekan/IRANYekanXFaNum-Regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "IRANYekan";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/iranyekan/IRANYekanXFaNum-Medium.woff2") format("woff2");
  }

  @font-face {
    font-family: "IRANYekan";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/iranyekan/IRANYekanXFaNum-DemiBold.woff2")
      format("woff2");
  }

  @font-face {
    font-family: "IRANYekan";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/iranyekan/IRANYekanXFaNum-Bold.woff2") format("woff2");
  }

  * {
    @apply border-border !outline-none !ring-0;
  }
  body {
    font-family: 'IRANYekan' ;
    @apply  bg-background text-foreground flex min-h-screen flex-col;
  }
  input {
    @apply outline-none;
  }
  .dark {
    color-scheme: dark;
  }

  ::selection {
    background: #8884;
  }
  html {
    scrollbar-color: var(--foreground) transparent;
  }

  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
  }

  ::view-transition-old(root) {
    z-index: 1;
  }

  ::view-transition-new(root) {
    z-index: 2147483646;
  }

  .dark::view-transition-old(root) {
    z-index: 2147483646;
  }

  .dark::view-transition-new(root) {
    z-index: 1;
  }

  /* Input AutoFill Colors */
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px var(--color-neutral-950) inset;
    -webkit-text-fill-color: white;
  }

  input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px var(--color-neutral-950) inset;
    -webkit-text-fill-color: white;
  }

  /* Input Type Numbers Hide Arrows */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }

}

@utility link {
  @apply text-brand-lighter hover:text-brand disabled:text-brand/40 flex cursor-pointer items-center gap-1 rounded-lg duration-200;
}
