@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "IRANYekan";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/iranyekan/woff2/IRANYekanXFaNum-Light.woff2") format("woff2");
  }

  @font-face {
    font-family: "IRANYekan";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/iranyekan/woff2/IRANYekanXFaNum-Regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "IRANYekan";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/iranyekan/woff2/IRANYekanXFaNum-Medium.woff2") format("woff2");
  }

  @font-face {
    font-family: "IRANYekan";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/iranyekan/woff2/IRANYekanXFaNum-DemiBold.woff2") format("woff2");
  }

  @font-face {
    font-family: "IRANYekan";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/iranyekan/woff2/IRANYekanXFaNum-Bold.woff2") format("woff2");
  }

  :root {
    --c-bg: #fff;
    --c-scrollbar: #eee;
    --c-scrollbar-hover: #bbb;
  }

  html {
    background-color: var(--c-bg);
    overflow-x: hidden;
    overflow-y: scroll;
  }

  html.dark {
    --c-bg: #050505;
    --c-scrollbar: #111;
    --c-scrollbar-hover: #222;
  }

  * {
    scrollbar-color: var(--c-scrollbar) var(--c-bg);
  }

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar:horizontal {
    height: 6px;
  }

  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-corner {
    background: var(--c-bg);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--c-scrollbar);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--c-scrollbar-hover);
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-iranyekan;
  }

  /* Color Mode transition */
  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
  }

  ::view-transition-old(root) {
    z-index: 1;
  }

  ::view-transition-new(root) {
    z-index: 2147483646;
  }

  .dark::view-transition-old(root) {
    z-index: 2147483646;
  }

  .dark::view-transition-new(root) {
    z-index: 1;
  }

}
